@import url("https://fonts.googleapis.com/css?family=Calistoga|Work+Sans|Luckiest+Guy&display=swap");

#gameWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 80px auto;
  background-image: linear-gradient(45deg, #c5d2ff, #e1eeff, #c5d2ff);
  border-radius: 30px;
  height: 750px;
  width: 70%;
  box-shadow: 0 0 35px 25px #66cdaa;
}

#player1Score {
  z-index: 5;
  background-color: #66cdaa;
  width: 140px;
  height: 140px;
  border-radius: 100px;
  padding: 30px 10px 10px 10px;
  left: 5%;
  top: 5%;
  box-sizing: border-box;
}

#player2Score {
  z-index: 5;
  background-color: #66cdaa;
  width: 140px;
  height: 140px;
  border-radius: 100px;
  padding: 30px 10px 10px 10px;
  right: 5%;
  top: 5%;
  box-sizing: border-box;
}

.scoreText {
  margin: 0;
  font-family: "Calistoga", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Calistoga", sans-serif;
}

.scoreNr {
  font-family: "Calistoga", sans-serif;
  font-size: 80px;
  margin: -10px auto;
  color: whitesmoke;
}

#player1InfoWrapper {
  position: absolute;
  left: 6%;
  top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  width: 140px;
  height: 330px;
  border-radius: 70px;
  background-color: #82e9c5;
  box-sizing: border-box;
  box-shadow: inset 0 0 50px 50px #66cdaa;
}

#player2InfoWrapper {
  position: absolute;
  right: 6%;
  top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  width: 140px;
  height: 330px;
  border-radius: 70px;
  background-color: #82e9c5;
  box-sizing: border-box;
  box-shadow: inset 0 0 50px 50px #66cdaa;
}

#choiceHeadingWrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 5%;
  width: 45%;
  height: 30%;
}

#choiceHeading {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 55px;

  width: 100%;
  color: #ff9154;
  text-shadow: 0 0 15px white;
}

#roundOutcomeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36%;
  width: 45%;
  height: 15%;
}

#roundOutcome {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 40px;
  /* position: absolute;
  left: 0;
  top: 38%;
  width: 100%; */
  color: #ff9154;
  text-shadow: 0 0 10px white;
}

#choicesWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 55%;
  width: 65%;
  height: 280px;
  border-radius: 60px;
  background-color: #82e9c5;
  box-shadow: inset 0 0 50px 50px #66cdaa;
}

#choiceCirclesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

.selectButton {
  margin: 10px 10px 20px 10px;
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  border-radius: 60px;
}

.selectButton:focus {
  box-shadow: inset 0 0 27px 27px #dfe6ff;
}

#chooseButton {
  position: absolute;
  bottom: 10%;
  width: 300px;
  height: 80px;
  border-radius: 40px;
  border: none;
  outline: none;
  font-family: "Calistoga", sans-serif;
  font-size: x-large;
  color: #ff9154;
  transition: 0.2s;
}

#chooseButton:hover {
  transition: 0.4s;
  background-color: #c5d2ff;
  box-shadow: 0 0 10px 10px white;
  color: white;
}

.choiceImg {
  width: 75px;
  margin: 10px;
}

.previousChoiceImg {
  position: relative;
  width: 75px;
  height: 75px;
}
