#gameWrapper {
  position: relative;
  margin: 20px auto;
  border: 2px solid goldenrod;
  background-color: lightgoldenrodyellow;
  height: 600px;
  width: 70%;
}

#player1Score {
  position: absolute;
  background-color: mediumaquamarine;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  padding: 10px;
  left: 5%;
  top: 5%;
}

#player2Score {
  position: absolute;
  background-color: mediumaquamarine;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  padding: 10px;
  right: 5%;
  top: 5%;
}

.scoreNr {
  font-size: 80px;
  margin: 0 auto;
}

#choiceHeading {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  color: blue;
}

#player1ChoiceImageWrapper {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 120px;
  height: 110px;
  border-radius: 10px;
  background-color: lightgrey;
}

#player2ChoiceImageWrapper {
  position: absolute;
  top: 30%;
  right: 30%;
  width: 120px;
  height: 110px;
  border-radius: 10px;
  background-color: lightgrey;
}

#choicesWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 55%;
  left: 25%;
  width: 55%;
  height: 120px;
  border-radius: 10px;
  background-color: lightgrey;
}

#chooseButton {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 100px);
  width: 200px;
  height: 60px;
  font-size: x-large;
}

.selectButton {
  margin: 10px;
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  border-radius: 50px;
}

.selectButton:focus {
  background-color: mediumaquamarine;
}

.choiceImg {
  width: 75px;
  margin: 10px;
}

.questionMark {
  position: relative;
  margin-top: 10px;
  width: 75px;
}
