form {
  margin: 2rem auto;
  width: 50%;
  min-width: 15rem;
  padding: 1rem;
  /* border: 2px solid rgb(23, 116, 202); */
  background-color: #dfe6ff;
  border-radius: 5px;
}

label {
  display: inline-block;
  width: 80%;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

input {
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  /* border: 2px solid white; */
  border: none;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 1.2rem;
  color: black;
  background: #82e9c5;
  outline: none;
}

input[type="submit"] {
  font-family: "Calistoga", sans-serif;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
  /* border: 2px solid white; */
  border: none;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 1.2rem;
  color: black;
  background: #ff9054;
  outline: none;
}

.wpButton {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #ff9054;
  color: black;
  cursor: pointer;
  outline: none;
}

.deadButton {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background-color: grey;
  color: black;
  cursor: pointer;
  outline: none;
}

.wpLink {
  text-decoration: none;
  color: black;
}

.roomNameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem auto;
  width: 50%;
  min-width: 15rem;
  padding: 1rem;
  border: 2px solid rgb(23, 116, 202);
  border-radius: 5px;
}

.roomName,
.roomOccupancy {
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  margin: 10px;
}
